// begin footer
footer.footer
  .container
    .footer__inner
      .footer__text
        p Copyright &copy; 2023 by AngelRokko | All Rights Reserved.
      .footer__icon-top
        a(href="#")
          i.icon-arrow-down

// end footer
