meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title #{pageTitle}
meta(name="description" content="")
link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
link(rel="icon" href="favicon.ico" type="image/x-icon")
meta(name='format-detection', content='telephone=no')
//- uncomment if use data-src // lzs snippet

link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")

link(rel="stylesheet" href="css/fonts.css")
//- link(rel="stylesheet" href="css/vue-style.css")
link(rel="stylesheet" href="css/style.css")
