// start header
header.header
  .container
    .header__inner
      //- a.header__logo(href="#") Angel<span>Rokko.</span>
      a.header__logo(href="#") Port<span>folio.</span>
      .header__menu.menu
        nav.menu__body
          ul.menu__list
            li
              a(href="#home") Home
            li
              a(href="#about") About
            li
              a(href="#education") Education
            li
              a(href="#skills") Skills
            li
              a(href="#project") Project
            li
              a(href="#contact") Contact
      button.hamburger.hamburger--collapse.js-hamburger(type="button")
        span.hamburger-box
          span.hamburger-inner
// end header