//- script(src="js/velocity.js")
//- script(src="js/velocity.ui.js")
//- script(src="js/wow.js")
script(src="js/libs/aos.js")
//- script(src="js/webfont.js")
//- script.
  WebFont.load({
    google: {
      families: ['Roboto:300,400,500,500i&display=swap:cyrillic']
    },
    custom: {
      //- families: ['Geometria:n4,i4,n7'], // fw 400 + italic, fw700
      families: ['Geometria'],
      urls: ['css/fonts.css']
    }
  });


//- script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
//- script(src="js/vue-main.js")
script(src="js/libs.min.js")
script(src="js/main.min.js")
