<!-- Modal -->
.modal__wrapper
  .modal
    .modal__close
      img(src='./img/cancel.svg' alt='cancel' width='10px' height='10px')
    .modal__title
      span Modal Title
    .modal__body Modal Body
a.btn.modal__btn(href='#') Open modal